<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Team2.PSU.Wireless.Mesh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Team2.PSU.Wireless.Mesh.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataMode" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="ClearOnOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearWithDTR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapURL" serializeAs="String">
                <value>http://localhost/default.aspx</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>Two</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=L117\SQLEXPRESS;Initial Catalog=Team2PSU;Trusted_Connection=True;</value>
            </setting>
            <setting name="ReceivedFilePath" serializeAs="String">
                <value>C:\Users\Roy_2\Documents\PSU\12 SWENG 500\ReceivedFiles\</value>
            </setting>
            <setting name="WWWFilePath" serializeAs="String">
                <value>C:\inetpub\wwwroot\cow.jpg</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Users\Roy_2\Documents\PSU\12 SWENG 500\LogFiles\</value>
            </setting>
        </Team2.PSU.Wireless.Mesh.Properties.Settings>
    </userSettings>
</configuration>